@use 'variables' as *;
@use 'mixins' as *;

.checkout {
    @include sectionWidth();
    margin-top: $p-block;
    @media (max-width: $tablet-breakpoint) {
        padding: 5%;
    }
    @media (max-width: $laptop-breakpoint) {
        padding: 5%;
    }
    &__title {
        font-size: $fs-900;
    }
    &__list {
        padding-block: 1rem;
    }
    &__vat {
        margin-bottom: 2rem;
    }
    &__total-incl-vat {
        font-size: $fs-600;
        font-weight: $fw-700;
    }
    &__link button {
        text-decoration: underline;
        cursor: $hover-pointer;
        padding-top: 1rem
    }
}

.billing-form {
    @include sectionWidth();
    padding-top: 2rem;
    @media (max-width: $tablet-breakpoint) {
        padding-inline: 5%;
    }
    @media (max-width: $laptop-breakpoint) {
        padding-inline: 5%;
    }
    &__fields {
        @include flex(start, start, row, 1rem);
        margin-top: 2rem;
    }
    &__input {
        background-color: $neutral-grey;
        padding: 1rem;
        width: 400px;
        @media (max-width: $tablet-breakpoint) {
            width: 100%;
        }
    }
    &__submit {
        @include buttonPrimary();
        margin-block: 2rem
    }
    &-wrapper {
        @include flex(center, start, row, 1rem)
    }
}

.address__form {
    @include sectionWidth();
    margin-top: 3rem;
    @media (max-width: $laptop-breakpoint) {
        padding-inline: 5%;
    }
    &--input {
        @include inputField();
        width: 400px;
        @media (max-width: $tablet-breakpoint) {
            width: 100%;
        }
    }
    &--title {
        font-size: $fs-500;
        font-weight: $fw-700;
        margin-block: 2rem;
        border-top: 1px solid grey;
        padding-top: 3rem
    }
}

.billing-form__fields {
    @include flex(start, start, column, 1rem);
}
