@use 'variables' as *;
@use 'mixins' as *;

.transaction-confirmation {
    @include sectionWidth();
    margin-top: $p-block;
    @media (max-width: $laptop-breakpoint) {
        padding-inline: 2%;
    }
    @media (max-width: $tablet-breakpoint) {
        padding-inline: 5%;
    }
    &__headline {
        font-size: $fs-700;
        margin-bottom: .5rem;
    }
    &__message {
        margin-bottom: 2rem;
    }
    &__total {
        font-size: $fs-600;
        margin-top: 2rem;
    }
    &__link {
        text-decoration: underline;
        cursor: $hover-pointer;
    }
    &__list {
        @include flex(start, center, column, 1rem)
    }
}