@use 'variables' as *;

@mixin flex($align: stretch, $justify: flex-start, $direction: row, $gap: 0) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    gap: $gap;
}

@mixin button-border($thickness, $color) {
    border: $thickness solid $color;
}

@mixin font-style($style) {
    font-style: $style;
}

@mixin gradient-text($color) {
    background: -webkit-linear-gradient($color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin sectionWidth() {
    max-width: 1440px;
    margin: 0 auto;
}

@mixin grid($number, $size, $gap) {
    display: grid;
    grid-template-columns: repeat($number, $size);
    gap: $gap;
}

@mixin buttonPrimary() {
    background-color: $primary-color;
    @include button-border(1px, $primary-color);
    color: $neutral-white;
    font-weight: $fw-700;
    padding: $button-padding
}

@mixin form() {
    gap: .5rem;
    width: 100%;
}

@mixin inputField() {
    background-color: $neutral-grey;
    padding: $button-padding;
    width: 100%;
}

