@use 'variables' as *;
@use 'mixins' as *;

.detailpage {
    @include sectionWidth();
    @include flex(start, center, row, 1rem);
    margin-top: 5rem;
    &__image {
        width: 30%;
    }
}

.details {
    width: 40%;
    padding-inline: 2rem;
    @include flex(start, center, column, 1rem);
    &__title {
        font-size: $fs-600;
    }
    &__desc {
        line-height: $lh-160;
        font-size: $fs-300;
    }
    &__price {
        font-size: $fs-700;
        span {
            font-size: $fs-200;
        }
    }
    &__stock {
        &--out-of-stock {
            background-color: $danger;
            padding: .5rem 1rem;
            color:$neutral-white;
        }
    }
    &__button {
        @include buttonPrimary();
    }
    &__notification {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: $neutral-white;
        padding: 10px 20px;
        border-radius: 5px;
        z-index: 9999;
        transition: opacity 0.3s ease;
        opacity: 1;
      }
}