@use 'variables' as *;
@use 'mixins' as *;

.products {
    @include sectionWidth();
    @include flex(stretch, flex-start, column, 1rem);
    padding-top: $p-block;
    &__headline {
        font-size: $fs-700;
        font-weight: $fw-700;
        max-width: 75%;
    }
    &__description {
        line-height: $lh-160;
        margin-bottom: 2rem;
        max-width: 75%
    }
    &__filters {
        @include flex(center, start, $gap: 1rem);
        margin-bottom: 1rem;
        &__button {
            background-color: $neutral-grey;
            padding: 8px 16px;
            border-radius: 5px;
            &:hover {
                cursor: $hover-pointer;
            }
        }
    }
    &__productCards {
        &__card {
            @include grid(4, 1fr, 2rem);
        }
    }
    &__pages {
        @include flex(center, space-evenly);
        margin-top: $p-block;
        &__items {
            @include flex(center, center, $gap: 1rem);
            &__select {
                border: 1px solid $neutral-black;
                padding: 8px 16px;
                text-align: center;
            }
        }
        &__list {
            @include flex($gap: 1rem);
            &__listItem {
                &__button {
                    padding: 8px 16px;
                    background-color: $neutral-white;
                    border: 1px solid $neutral-black;
                    transition: background-color .2s ease;
                    border-radius: 2px;
                    &:hover {
                        cursor: $hover-pointer;
                        background-color: $neutral-grey;
                    }
                }
            }
        }

        
    }
}