@use 'variables' as *;
@use 'mixins' as *;

.productCard {
    box-shadow:$cardBoxShadow;    
    &__image {
        width: 100%;
    }
    &__info {
        @include flex(stretch, center, column);
        padding: 1.5rem;
        gap: .5rem;
        &__headline {
            font-weight: $fw-700;
        }
        &__description {
            font-size: $fs-200;
            font-style: italic;
            line-height: 1.4;
        }
        &__buy {
            padding-block: .5rem;
            @include flex(center, space-between);
            &__button {
            text-decoration: underline;
            cursor: pointer;
            }
        }
    }
}