@use 'variables' as *;
@use 'mixins' as *;

.filters {
    @include flex(center, start, $gap: 1rem);
    margin-bottom: 1rem;
    &__button {
        background-color: $neutral-grey;
        padding: 8px 16px;
        border-radius: 5px;
        &:hover {
            cursor: $hover-pointer;
        }
    }
}

.wrapper {
    @include grid(4, 1fr, 2rem);
}

.productCard {
    box-shadow: $cardBoxShadow;
    &__image {
            width: 100%;
        }
    &__info {
        @include flex(stretch, space-between, column);
        padding: 1.5rem;
        height: 175px;
        &__headline {
            font-weight: $fw-700;
        }
        &__description {
            font-size: $fs-200;
            font-style: italic;
            line-height: 1.4;
        }
        &__buy {
            padding-block: .5rem;
            @include flex(center, space-between);
            &__button {
            @include buttonPrimary();
            cursor: pointer;
            }
        }
    }
}

.pagination {
    @include flex(center, center, row, 1rem);
    margin-top: 3rem;
    &__button {
        padding: $button-padding;
        background-color: $neutral-grey;
        cursor: $hover-pointer;
    }
}
.items-per-page {
    text-align: center;
    margin-top: 2rem;
    &__select {
        padding: .5rem;
        margin-inline: 1rem;
        background-color: $neutral-grey;
        cursor: $hover-pointer;
    }
}