@use 'variables' as *;
@use 'mixins' as *;

.detailpage {
    @include sectionWidth();
    @include flex(start, center, row, 1rem);
    margin-top: 5rem;
    &__image {
        width: 30%;
    }
}

.details {
    width: 40%;
    padding-inline: 2rem;
    @include flex(start, center, column, 1rem);
    &__title {
        font-size: $fs-600;
    }
    &__desc {
        line-height: $lh-160;
        font-size: $fs-300;
    }
    &__price {
        font-size: $fs-700;
        span {
            font-size: $fs-200;
        }
    }
}