$fs-1000: 5rem;
$fs-900: 3rem;
$fs-800: 2.5rem;
$fs-700: 2rem;
$fs-600: 1.7rem;
$fs-500: 1.4rem;
$fs-400: 1.2rem;
$fs-300: 1rem;
$fs-200: 0.8rem;
$fs-100: 0.7rem;

$fw-700: bold;
$fw-500: regular;
$fw-300: small;

$font-family: Montserrat, sans-serif;

$centered: 0 auto;

$primary-gradient: 0deg ,#553D6E, #F35768 