//Font-sizes
$fs-1000: 5.5rem;
$fs-900: 3rem;
$fs-800: 2.5rem;
$fs-700: 2rem;
$fs-600: 1.7rem;
$fs-500: 1.4rem;
$fs-400: 1.2rem;
$fs-300: 1rem;
$fs-200: 0.8rem;
$fs-100: 0.7rem;

//Font-weights
$fw-700: bold;
$fw-500: regular;
$fw-300: small;

//font-families
$font-family: Montserrat, sans-serif;

//colors
$primary-gradient: 0deg ,#553D6E, #F35768;
$primary-color: #F35768;
$neutral-white: white;
$neutral-grey: #f3f3f3;
$neutral-greyer: rgb(191, 191, 191);
$neutral-black: black;
$secondary-purple: #7C3F59;
$danger: #cf8986;


//line-height
$lh-160: 1.6;

//button-styling
$button-padding: 16px 32px;

//hovers
$hover-pointer: pointer;

$p-block: 5rem;

$login-width: 600px;

$cardBoxShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;